<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<form th:method="post"
      th:action="@{/cookie}">

  <label for="lang">
    Language:
  </label>
  <select
      id="lang"
      name="lang">
    <option value="en" th:selected="${lang == 'en'}">English</option>
    <option value="bg" th:selected="${lang == 'bg'}">Bulgarian</option>
    <option value="de" th:selected="${lang == 'de'}">German</option>
    <option value="ua" th:selected="${lang == 'ua'}">Ukrainian</option>
  </select>

    <input type="submit" value="Submit"/>
</form>
</body>
</html>