<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container-fluid">
    <h5 class="text-center text-white mt-5">Welcome to MobiLeLeLe,
        <span
            sec:authorize="isAuthenticated()"
            th:text="${#authentication.name}">
        </span>

        <span sec:authorize="!isAuthenticated()">
            Anonymous
        </span>
    </h5>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
