<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container">
    <h2 class="text-center text-white">Upload Offer</h2>
    <form th:method="POST"
          th:action="@{/offer/add}"
          th:object="${createOfferDTO}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">

            <!-- brand -->
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="brandId">Brand</label>
                <input list="vehicleBrands"
                       id="brandId"
                       th:field="*{brand}"
                       th:errorclass="is-invalid"
                       class="form-control"
                       placeholder="- Enter a brand -">
                <datalist id="vehicleBrands">
                    <option
                            th:each="brandDTO : ${brandDTOs}"
                            th:text="${brandDTO.name()}"
                            th:value="${brandDTO.name()}">
                        Brand
                    </option>

                </datalist>

                <p class="invalid-feedback errors alert alert-danger"
                th:errors="*{brand}">
                    Vechicle brand is required.
                </p>
            </div>
            <!-- EO: brand -->

            <!-- model -->
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="modelId">Model</label>

                <input list="vehicleModels"
                       id="modelId"
                       th:field="*{model}"
                       th:errorclass="is-invalid"
                       class="form-control"
                       placeholder="- Enter a model -">
                <datalist id="vehicleModels"></datalist>

                <p class="invalid-feedback errors alert alert-danger"
                   th:errors="*{model}">
                    Vechicle model is required.
                </p>
            </div>
            <!-- EO: model -->

        </div>


        <div class="row">

            <!-- Engine -->
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="engine">Engine</label>
                <select id="engine"
                        th:field="*{engine}"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select engine type -</option>
                    <option th:each="e : ${engines}"
                            th:text="${e}"
                            th:value="${e}">
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger"
                   th:errors="*{engine}">
                    Engine type is required.
                </p>
            </div>
            <!-- EO: Engine -->

            <!-- Transmission -->
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="transmission">Transmission</label>
                <select
                        id="transmission"
                        th:field="*{transmission}"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select transmission type -</option>
                    <option th:each="t : ${transmissions}"
                            th:text="${t}"
                            th:value="${t}"
                            th:selected="${t} == *{transmission}">
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger"
                   th:errors="*{transmission}">
                    Transmission type is required.
                </p>
            </div>
            <!-- EO: Transmission -->
        </div>
        <div class="row">
            <!-- Year -->
            <div class="form-group col-md-6 mb-3">
                <label for="year" class="text-white font-weight-bold">Year</label>
                <input id="year"
                       th:field="*{year}"
                       th:errorclass="is-invalid"
                       type="number"
                       class="form-control"
                       placeholder="Manufacturing year"/>
                <p th:if="${#fields.hasErrors('year')}"
                   class="invalid-feedback errors alert alert-danger"
                   th:errors="*{year}">
                </p>
            </div>
            <!-- EO: Year -->

            <!-- Mileage -->
            <div class="form-group col-md-6 mb-3">
                <label for="mileage" class="text-white font-weight-bold">Mileage</label>
                <input id="mileage"
                       th:field="*{mileage}"
                       th:errorclass="is-invalid"
                       type="number"
                       class="form-control"
                       placeholder="Mileage in kilometers"/>
                <p class="invalid-feedback errors alert alert-danger"
                   th:errors="*{mileage}">
                    Mileage in kilometers is required.
                </p>
            </div>
            <!-- EO: Mileage -->
        </div>


        <!-- Description -->
        <div class="form-group">
            <label class="text-white font-weight-bold" for="description">Description</label>
            <textarea id="description"
                      th:field="*{description}"
                      th:errorclass="is-invalid"
                      type="textarea"
                      class="form-control"
                      rows="3"
                      placeholder="Description">
            </textarea>
            <p class="invalid-feedback errors alert alert-danger"
               th:errors="*{description}">
                Description is required.
            </p>
        </div>
        <!-- EO: Description -->

        <!-- Image URL -->
        <div class="form-group">
            <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>
            <input id="imageUrl"
                   th:field="*{imageUrl}"
                   th:errorclass="is-invalid"
                   type="url" class="form-control"
                   placeholder="Put vehicle image URL here">
            <p class="invalid-feedback errors alert alert-danger" th:errors="*{imageUrl}">
                Vehicle image URL is required.
            </p>
        </div>
        <!-- EO: Image URL -->

        <div class="row">
            <!-- Price -->
            <div class="form-group col-md-6 mb-3">
                <label for="price" class="text-white font-weight-bold">Price</label>
                <input id="price"
                       th:field="*{price}"
                       th:errorclass="is-invalid"
                       type="number"
                       class="form-control"
                       placeholder="Suggested price"/>
                <p class=" invalid-feedback errors alert alert-danger"
                   th:errors="*{price}">
                    Suggested price is required.
                </p>
            </div>
            <!-- EO: Price -->
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>
<script type = "text/javascript" src = "/js/codename-ferrari.js"></script>
</body>
</html>
