<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container">
    <h2 class="text-center text-white">Upload Offer</h2>
    <form th:method="POST"
          th:action="@{/offer/add}"
          th:object="${createOfferDTO}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">

            <!-- model -->
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="modelId">Model</label>
                <select id="modelId"
                        th:name="modelId"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select a model -</option>
                    <optgroup
                        th:each="brand: ${brands}"
                        th:label="${brand.name()}">

                        <option
                            th:each="model : ${brand.models()}"
                            th:text="${model.name}"
                            th:value="${model.id}"
                            th:selected="*{modelId} == ${model.id}">
                                Model
                        </option>

                    </optgroup>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Vechicle model is required.
                </p>
            </div>
            <!-- EO: model -->

            <!-- Price -->
            <div class="form-group col-md-6 mb-3">
                <label for="price" class="text-white font-weight-bold">Price</label>
                <input id="price"
                       th:name="price"
                       th:field="*{price}"
                       th:errorclass="is-invalid"
                       type="number"
                       class="form-control"
                       placeholder="Suggested price"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Suggested price is required.
                </p>
            </div>
            <!-- EO: Price -->
        </div>


        <div class="row">

            <!-- Engine -->
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="engine">Engine</label>
                <select id="engine"
                        th:name="engine"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select engine type -</option>
                    <option th:each="e : ${engines}"
                            th:text="${e}"
                            th:value="${e}"
                            th:selected="${e} == *{engine}">
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Engine type is required.
                </p>
            </div>
            <!-- EO: Engine -->

            <!-- Transmission -->
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="transmission">Transmission</label>
                <select
                    id="transmission"
                    th:name="transmission"
                    th:errorclass="is-invalid"
                    class="form-control">
                    <option value="">- Select transmission type -</option>
                    <option th:each="t : ${T(org.softuni.mobilele.model.enums.TransmissionEnum).values()}"
                        th:text="${t}"
                        th:value="${t}"
                        th:selected="${t} == *{transmission}">
                    </option>
                </select>
                <p class="invalid-feedback  errors alert alert-danger">
                    Transmission type is required.
                </p>
            </div>
            <!-- EO: Transmission -->
        </div>
        <div class="row">
            <!-- Year -->
            <div class="form-group col-md-6 mb-3">
                <label for="year" class="text-white font-weight-bold">Year</label>
                <input id="year"
                       th:name="year"
                       th:errorclass="is-invalid"
                       th:field="*{year}"
                       type="number"
                       class="form-control"
                       placeholder="Manufacturing year"/>
                <p th:if="${#fields.hasErrors('year')}"
                   class="errors alert alert-danger"
                    th:errors="*{year}">
                </p>
<!--                <p class="invalid-feedback errors alert alert-danger">-->
<!--                    Manufacturing year is required.-->
<!--                </p>-->
            </div>
            <!-- EO: Year -->

            <!-- Mileage -->
            <div class="form-group col-md-6 mb-3">
                <label for="mileage" class="text-white font-weight-bold">Mileage</label>
                <input id="mileage"
                       th:name="mileage"
                       th:errorclass="is-invalid"
                       th:field="*{mileage}"
                       type="number"
                       class="form-control"
                       placeholder="Mileage in kilometers"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Mileage in kilometers is required.
                </p>
            </div>
            <!-- EO: Mileage -->
        </div>


        <!-- Description -->
        <div class="form-group">
            <label class="text-white font-weight-bold" for="description">Description</label>
            <textarea id="description"
                      th:name="description"
                      th:field="*{description}"
                      th:errorclass="is-invalid"
                      type="textarea"
                      class="form-control"
                      rows="3"
                      placeholder="Description">
            </textarea>
            <p class="invalid-feedback errors alert alert-danger">
                Description is required.
            </p>
        </div>
        <!-- EO: Description -->

        <!-- Image URL -->
        <div class="form-group">
            <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>
            <input id="imageUrl"
                   th:name="imageUrl"
                   th:field="*{imageUrl}"
                   th:errorclass="is-invalid"
                   type="url" class="form-control"
                   placeholder="Put vehicle image URL here">
            <p class="invalid-feedback errors alert alert-danger">
                Vehicle image URL is required.
            </p>
        </div>
        <!-- EO: Image URL -->

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
